@font-face {
  font-family: "use-shirokuma";
  src: url("fonts/001Shirokuma-Regular.otf") format("opentype");
}

@font-face {
  font-family: "MkPop";
  src: url("fonts/851MkPOP_002.ttf");
}

html {
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: "use-shirokuma";
  /* position: relative; */
  /*    font-weight: normal;*/
  /* font-family: 'M PLUS 1p', sans-serif; */
}

/* a {
  text-decoration: none;
} */

p {
  font-family: "Sawarabi Mincho";
  font-weight: 40;
  font-size: 1.6rem;
}

h1 span {
  background-color: white;
  font-size: 5rem;
  font-family: "use-shirokuma";
}

header,
footer {
  z-index: 10;
  position: fixed;
  width: 100vw;
  height: 10vh;
  /* border-width: 10vh 10vw; */
  /* border-style: solid; */
  background-color: #bcbcbc;
  /* display: flex; */
}

footer {
  /* position: absolute; */
  position: fixed;
  bottom: 0;
  height: 10vh;
  /* margin-top: 90vh; */
}

#box-title {
  z-index: 20;
  margin: 2vh auto;
  text-align: center;
  font-size: 4vh;
  color: #fff;
}

#box-title span {
  font-family: "MkPop";
  border-bottom: solid 0.5px white;
}

/* #menu-btn{
    cursor: pointer;
    float: left;
    display: none;    
    position: fixed;
    margin: 10px;
}

#menu-btn div {
    width: 35px;
    height: 5px;
    margin: 6px 0;
    background-color: black;
  }
  
#menu-modal{
    background-color: white;
    position: fixed;
    top:0;
    width: 150px;
    height: 100vh;
    display:none;  
} */

/* .menu{
    background-color: gray;
    float: left;
    width: 15vw;
    height: 100vh;
    position: fixed;
    
}

ul{
    flex-direction: column;
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu li{
    line-height: 20px;
    font-size: 20px;
    padding-top: 20px;
}

.menu a{
    color: black;

}
.menu a:hover{
    background-color: #FEA0C2;
} */

main {
  display: flex;
}

#left,
#right {
  width: 6%;
  background-color: #bcbcbc;
  /* height: 100vh; */
  /* display: flex; */
}
#content {
  float: left;
  width: 88%;
  /* display: flex; */
  /* box-sizing: border-box; */
  /* padding: 10vh 50px; */
}

#title {
  /* padding-top: 30vh;
  height: 50vh;
  /* width: 120vw; */
  /* font-size: 22vw; */
  /* text-align: center; */
  padding: 50vh 0 10vh;
  background-color: #fac4c4;
}

#img_title {
  width: 88vw;
}

#slash-1 {
  /* position: absolute; */
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  /*ここで三角形のサイズを決める。
    必ず幅100vwにして、ブラウザサイズいっぱいにしてください。*/
  border-width: 300px 0 0 88vw;
  border-color: #fac4c4 transparent transparent #acdef1;
}
/* #about{
    padding: 10vh 50px;
} */

#about-contents {
  background-color: #acdef1;
  /* max-width: 500px; */
  padding: 3vh 3vw 100px;
  /* margin-bottom: 200px; */
}

/* h1{
    text-align: center;    margin-bottom: 50px;
} */
#about-contents p {
  margin-top: -40px;
  text-align: left;
  padding: 40px 80px;
  border: solid 4px gray;
  line-height: 5rem;
  letter-spacing: 0.4rem;
  /* font-size: 0.8em; */
}

#SNS {
  max-width: 500px;
  margin: 0 auto;
}

#SNS ul {
  float: left;
}
#SNS img {
  height: 20px;
}

#SNS a {
  color: black;
  font-size: 20px;
}

#SNS li {
  line-height: 30px;
  padding-top: 30px;
}

#slash-2 {
  /* position: absolute; */
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  /*ここで三角形のサイズを決める。
    必ず幅100vwにして、ブラウザサイズいっぱいにしてください。*/
  border-width: 0 0 100px 88vw;
  border-color: transparent transparent #98ec9a #acdef1;
}

#concert {
  text-align: left;
  font-family: "Sawarabi Mincho";
  background-color: #98ec9a;
  padding: 100px 15vw;
  letter-spacing: 0.4rem;
}

#concert h2 {
  font-size: 3rem;
  /* margin-bottom: -20px; */
  /* color: white; */
  text-align: center;
  /* font-family: "use-shirokuma"; */
}

#concert h1 {
  margin-top: -20px;
  text-align: right;
}

#next-text {
  padding: 0 80px 40px;
  border: solid 10px #adadae;
}

.link {
  text-decoration: underline;
  font-family: "use-shirokuma";
  font-size: 30px;
  color: gray;
  padding: 20px;
}

.archive {
  margin-bottom: 150px;
}

#slash-3 {
  /* position: absolute; */
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  /*ここで三角形のサイズを決める。
    必ず幅100vwにして、ブラウザサイズいっぱいにしてください。*/
  border-width: 100px 0 0 88vw;
  border-color: #98ec9a transparent transparent #ef7575;
}

#movie {
  text-align: center;
  background-color: #ef7575;
  padding: 100px 0vw;
}

#movie a {
  color: white;
}
